body {
background-color:rgb(245, 245, 245)
color: white
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content> center;
align-itens: center;
height: 700px;
margin: 0;
}

button {
background-color:


}
